* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f1f1f1;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #f5f1fe;
 
}

nav li a:hover {
  color:  #D54F56;
}

nav h2 {
  margin: 0 20px;
  text-align: center;
  color: black;
}

#slogan {
color: #D54F56;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav > ul > li > a {
  display: inline;
  padding-inline: 10px;
  text-decoration: none;
   color: #946F5A;
  font-weight: bold;
}

li {
  display: inline;
}

header {
  text-align: center;
  justify-content: center;
  padding: 0;
  display: block;
  background-color: #f5f1fe;
}

video {
  width: 70%;
  height: auto;
  overflow: hidden;
  max-width: min-content;
}

#programmation {
  background-color: #D54F56;
  color: #f5f1fe;
}

#inscription {
  background-color: #5566d5;
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;

  flex-wrap: wrap;
}

#reseauxSociaux a i {
  font-size: 2rem; 
  margin: 0 10px;
  color:black;
}

footer {
  margin: 0 20px;
  flex-grow: 1; /* fica no meio */
  text-align: center;
  padding: 30px 10px 30px;
  gap: 40px;
}

h2 {
  color: #f5f1fe;
}

.etapes {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 100px; /* se aumentar valor, ele descer mais */
  flex-wrap: wrap;
  font-size: medium;
}

.etape {
  max-width: 250px;
  text-align: left;
}

.descriptionetape {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#buttoninscription {
  border: none;
  color: white;
  padding: 30px 32px;
  margin: 90px 170px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
  background-color: rgb(219, 207, 204);
  transition-duration: 0.4s;
  cursor: pointer;
}

#buttoninscription:hover {
  background-color: #D54F56;
  color: white;
}

#buttonformulaire {
  border: none;
  color: white;
  padding: 15px 45px;
  margin: 50px 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  background-color: white;
  color: black;
  background-color: rgb(219, 207, 204);
  transition-duration: 0.4s;
  cursor: pointer;
}

#formulaireInscription {
  background-color: white;
  text-align: left;
  display: flex;
  margin: 20px;
  border: 2px solid white;
  border-radius: 10px;
  padding:1%;
  justify-content: space-around;
}

#formulaire {
  width: 35%;
  flex-direction: column;
}

#imageformulaire {
  flex-direction: column;
  width: 35%;
   border-radius: 10px;
}

#backgroundformulaire {
  background-color: #81e888;
}

header {
  background-image: url("images/background.jpg");
}

@media screen and (max-width: 768px) {
  #formulaireInscription {
    flex-direction: column;
    max-width: 90%;
  }

  img,
  video {
    max-width: 100%;
  }

  #imageformulaire {
    display: none;
  }
  nav h2 {
    display: none;
  }
  main {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    font-size: small;
  }
}
