* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: medium;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #9e2a2b;
}

nav li a:hover {
  color: white;
}

nav h2 {
  margin: 0 20px;
}

#slogan {
  color: white;
  font-family: "Poppins", sans-serif;
}

nav img {
  border-radius: 50%;
  background-color: #ffffff;
  padding: 8px;
}

nav ul {
  text-decoration: none;
  list-style: none;
  gap: 20px;
  margin: 60px;
  padding: 0;
}

nav > ul > li > a {
  display: inline-block;
  padding-inline: 30px 30px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: black;
  border-radius: 20px;
}

#programmation {
  background-color: white;
  color: black;
}

#programmation h3,
#programmation p,
#programmation li {
  color: #ffffff;
}

#programmation ul {
  list-style: none; /* remove as bolinhas */
}

#programmation li {
  margin-bottom: 0.4rem; /* espaço entre linhas */
}

.carousel-programmation {
  background-color: #9e2a2b;
  padding: 0px;
  border-radius: 12px;
}

.carousel-programmation img {
  width: 100%;
  max-height: 420px; /* ajuste aqui (220–300px é comum) */
  object-fit: cover; /* corta a imagem sem deformar */
  border-radius: 8px;
  margin-bottom: 16px;
}

h1 {
  color: black;
}

#inscription {
  background-color: white; /* se quiser igual ao outro */
  padding: 40px 0;
  color: #fff;
}

#inscription .etapes {
  background: #243a5e; /* opcional: destaque do bloco */
  padding: 20px;
  border-radius: 12px;
}

.etapes {
  display: flex;
  align-items: center; /* alinha verticalmente */
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap; /* quebra linha se faltar espaço */
}

.etape {
  max-width: 250px;
  text-align: left;
}

.description-etape {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#button-inscription {
  border: none;
  padding: 18px 26px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 8px;
  background-color: white;
  color: #243a5e;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap; /* evita quebra do texto */
}

#button-inscription:hover {
  background-color: rgb(219, 207, 204);
}

#button-formulaire {
  border: none;
  color: white;
  padding: 15px 45px;
  margin: 50px 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  color: black;
  background-color: rgb(219, 207, 204);
  transition-duration: 0.4s;
  cursor: pointer;
}

#formulaire-inscription {
  display: flex;
  margin: 20px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 1%;
  justify-content: space-around;
  background-color: white;
}

#formulaire {
  width: 35%;
  flex-direction: column;
}

#image-formulaire {
  flex-direction: column;
  width: 35%;
  border-radius: 5px;
}

footer {
  background-color: rgb(240, 230, 230);
  margin: 0 20px;
  flex-grow: 1; /* pour rester au milieu */
  text-align: center;
  padding: 30px 10px 30px;
  gap: 40px;
}

#reseaux-sociaux a i {
  font-size: 2rem;
  margin: 0 10px;
  color: black;
}

@media screen and (max-width: 768px) {
  #formulaire-inscription {
    flex-direction: column;
    max-width: 90%;
  }

  img,
  video {
    max-width: 100%;
  }

  #image-formulaire {
    display: none;
  }
  nav h2 {
    display: none;
  }
  main {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    font-size: small;
  }

  #button-inscription,
  #button-formulaire {
    margin-left: auto;
  }
}
