* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: medium;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #9e2a2b;
}

nav li a:hover {
  color: white;
}

nav h2 {
  margin: 0 20px;
}

#slogan {
  color: white;
  font-family: "Poppins", sans-serif;
}

nav img {
  border-radius: 50%;
  background-color: #ffffff;
  padding: 8px;
}

nav ul {
  text-decoration: none;
  list-style: none;
  gap: 20px;
  margin: 60px;
  padding: 0;
}

nav > ul > li > a {
  display: inline-block;
  padding-inline: 30px 30px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: black;
  border-radius: 20px;
}

#programmation {
  background-color: white;
  color: black;
}

#programmation h2,
#programmation p,
#programmation li {
  color: #ffffff;
}

#programmation ul {
  list-style: none; /* enlève les petites boules */
}

#programmation li {
  margin-bottom: 0.4rem; /* espace entre les lignes */
}

.carousel-programmation {
  background-color: #9e2a2b;
  padding: 0px;
  border-radius: 12px;
}

.carousel-programmation img {
  width: 100%;
  max-height: 420px;
  object-fit: cover; /* recadrer l'image sans la déformer */
  border-radius: 8px;
  margin-bottom: 16px;
}

.carousel-description {
  font-size: 1.2rem;
  margin-top: 16px;
}

h1 {
  color: black;
}

#inscription {
  background-color: white;
  padding: 40px 0;
  color: #fff;
}

#inscription .etapes {
  background: #243a5e;
  padding: 20px;
  border-radius: 12px;
}

.etapes {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap; /* coupez la ligne s'il n'y a pas assez d'espace. */
}

.etape {
  max-width: 250px;
  text-align: left;
}

.description-etape {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#button-inscription {
  border: none;
  padding: 18px 26px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 8px;
  background-color: white;
  color: #243a5e;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap; /* empêche le retour à la ligne du texte */
}

#button-inscription:hover {
  background-color: rgb(219, 207, 204);
}

#button-formulaire {
  border: none;
  padding: 14px 28px;
  border-radius: 8px;
  background-color: rgb(219, 207, 204);
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-block;
  margin: 16px 0 0;
}

#formulaire-inscription {
  display: flex;
  gap: 20px;
  margin: 20px auto;
  padding: 20px;
  max-width: 1100px; /* empêche le formulaire de devenir trop large sur les grands écrans */
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  align-items: stretch; /* adapte l’image à la hauteur */
}

#formulaire {
  flex: 1; /* prend tout l’espace disponible * */
  min-width: 320px; /* évite de devenir trop étroit  */
}

#image-formulaire {
  flex: 1;
  min-width: 320px;
  max-width: 520px;
  width: 100%;
  height: auto;
  object-fit: cover; /* s’adapte au formulaire et recadre sans déformer  */
  border-radius: 10px;
}

footer {
  background-color: rgb(240, 230, 230);
  flex-grow: 1; /* occupe l’espace disponible  */
  text-align: center;
  padding: 30px 10px 30px;
  gap: 40px;
}

#reseaux-sociaux a i {
  font-size: 2rem;
  margin: 0 10px;
  color: black;
}

@media screen and (max-width: 768px) {
  nav {
    padding: 8px 12px; /* rend la nav plus compacte */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* évite de couper les éléments */
    gap: 8px;
  }

  nav a img {
    width: 90px; /* réduit la taille du logo  */
    height: auto;
  }

  nav h2 {
    display: none; /* cache le titre dans la barre de navigation */
  }

  /* évite la coupure du menu et assure l’alignement */
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-end;
    width: auto;
  }

  nav ul li {
    list-style: none;
  }

  nav ul li a {
    display: inline-block;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 18px;
    white-space: nowrap; /* empêche le retour à la ligne */
  }

  #programmation h1,
  #inscription h1 {
    font-size: 1.4rem;
    margin: 0.5rem 0;
    text-align: center;
  }

  #programmation p,
  #programmation li {
    font-size: 0.9rem;
  }

  #programmation h2 {
    font-size: 1.2rem;
  }

  .etapes {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .etape {
    text-align: center;
  }

  .etape h2 {
    font-size: 1.2rem;
  }

  .description-etape {
    font-size: 0.9rem;
  }

  #button-inscription {
    align-self: center;
    font-size: 1rem;
  }

  #formulaire-inscription {
    flex-direction: column;
  }

  #image-formulaire {
    display: none;
  }

  /* organisation flexible et centrée pour l’adaptation aux écrans */
  main {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    font-size: small;
  }
}
